// COLOR PALLETE
$primary: #ff5722;
$primary-light: #ff7043;

$black: #000000;
$light-gray: #F0F0F0;
$medium-gray: #A0A0A0;
$dark-gray: #404040;
$white: #FFFFFF;

// VARIABLES
$footer-height: 130px;


// FONTS

@import url('https://fonts.googleapis.com/css?family=Vampiro+One|Exo:400,400i,700,700i|Roboto+Mono');
$font-body: 'Exo', sans-serif;
$font-title: 'Vampiro One', sans-serif;
$font-code: 'Roboto Mono', Menlo, Monaco, Consolas, "Courier New", monospace;

@import 'style';

.list-item {
  padding-bottom: 20px;

  .image-left {
    float: left;
    margin-right: 20px;
    img {
      border-radius: 5px;
    }
  }

  .discipline {
    font-family: $font-title;
    font-size: 24px;
    padding-bottom: 6px;
  }
  .title {
    font-size: 20px;
    padding-bottom: 3px;
  }
  .subtitle {
    font-size: 14px;
  }
}