---
layout: simple-page
title: 2017 Specialized Enduro Comp
---

<div class="slider">
    <img class="slider-image" src="{{ site.url }}/images/bicycles/2017-specialized-enduro-comp-stock.jpg">
</div>

<p class="footnote">
    <strong>Base model:</strong> 2017 Specialized Enduro Comp 29/6Fattie.
    Part No. 93617-5202 at the
    <a href="https://www.specialized.com/us/en/enduro-comp-29-6fattie/p/118408?color=214943-118408" target="_blank">Specialized Bike Archive</a>.
</p>

<h2>Frameset</h2>
<table class="component-table">
    <tr>
        <th>Size</th>
        <td>Large</td>
    </tr>
    <tr>
        <th>Material</th>
        <td>Alloy M5</td>
    </tr>
    <tr>
        <th>Color</th>
        <td>Satin Black / Charcoal</td>
    </tr>
    <tr>
        <th>Headset</th>
        <td>--</td>
    </tr>
    <tr>
        <th>Bottom Bracket</th>
        <td>--</td>
    </tr>
    <tr>
        <th>Rear Axle</th>
        <td>--</td>
    </tr>
    <tr>
        <th>Seat Tube</th>
        <td>?? mm</td>
    </tr>
    <tr>
        <th>Seat Collar</th>
        <td>?? mm</td>
    </tr>
</table>

<h2>Components</h2>

<table class="component-table">
    <tr>
        <th>Saddle</th>
        <td>____</td>
    </tr>
    <tr>
        <th>Pedals</th>
        <td>Crankbrothers Mallet E, black</td>
    </tr>
</table>

<h2>Suspension Setup</h2>
<table class="spec-table">
    <thead>
    <tr>
        <th>&nbsp;</th>
        <th>Fork</th>
        <th>Shock</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>Travel</th>
        <td>160 mm</td>
        <td>160 mm</td>
    </tr>
    <tr>
        <th>Tokens</th>
        <td>2</td>
        <td>??</td>
    </tr>
    <tr>
        <th>Air Pressure</th>
        <td>120 PSI</td>
        <td>32 PSI</td>
    </tr>
    <tr>
        <th>Sag</th>
        <td>30%</td>
        <td>28%</td>
    </tr>
    </tbody>
</table>


<h2>29" Wheelset</h2>
<table class="component-table">
    <thead>
    <tr>
        <th>&nbsp;</th>
        <th>Front</th>
        <th>Rear</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <th>Wheel</th>
            <td>Hope Tech Enduro - Pro 4 Aluminum, 110x15mm Boost Thru Axle, ----</td>
            <td>Hope Tech Enduro - Pro 4. Aluminum, 142x12mm Boost Thru-Axle, 32 holes, Shimano Hub Body, --</td>
        </tr>
        <tr>
            <th>Tire</th>
            <td>Maxxis DHF 29x2.3 EXO, tubeless</td>
            <td>Maxxis Aggressor 29x2.3 EXO, tubeless</td>
        </tr>
        <tr>
            <th>Rotor</th>
            <td>Shimano -- Ice Tech -- 203mm</td>
            <td>Shimano -- Ice Tech -- 180mm</td>
        </tr>
        <tr>
            <th>Cassette</th>
            <td>&nbsp;</td>
            <td>Shimano XT 11sp 11-42</td>
        </tr>
    </tbody>
</table>

<table class="spec-table">
    <thead>
    <tr>
        <th>&nbsp;</th>
        <th>Front</th>
        <th>Rear</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>Pressure</th>
        <td>25 PSI</td>
        <td>28 PSI</td>
    </tr>
    </tbody>
</table>



