---
layout: simple-page
title: 2017 Specialized Stumpjumper Expert Carbon
---

{#
<div class="slider">
    <img class="slider-image" src="{{ site.url }}/images/bicycles/stock.jpg">
</div>

<p class="footnote">
    <strong>Base model:</strong> 2017 Specialized Stumpjumper Expert Carbon 6Fattie.
    Part No. 93317-3404 at the
    <a href="https://www.specialized.com/us/en/stumpjumper-fsr-expert-carbon-6fattie/p/118362?color=209257-118362" target="_blank">Specialized Bike Archive</a>.
</p>
#}

<div class="slider">
    <div class="splide">
        <div class="splide__track">
            <div class="splide__list">
                <div class="splide__slide">
                    <img class="slider-image" src="{{ site.url }}/images/bicycles/2017-specialized-stumpjumper-expert-carbon/stock.jpg">
                </div>
            </div>
        </div>
    </div>
</div>

<h2>Base Model</h2>
<p>
    <span class="large">
        2017 Specialized Stumpjumper Expert Carbon 6Fattie
    </span>
    <br>
    <span class="small">
        Part No. 93317-3404 at the
        <a href="https://www.specialized.com/us/en/stumpjumper-fsr-expert-carbon-6fattie/p/118362?color=209257-118362" target="_blank">Specialized Bike Archive</a>.
    </span>
</p>

<h2>Frameset</h2>
<table class="component-table">
    <tr>
        <th>Size</th>
        <td>Large</td>
    </tr>
    <tr>
        <th>Material</th>
        <td>Carbon (FACT 9m) front triangle, Alloy (M5) rear end</td>
    </tr>
    <tr>
        <th>Color</th>
        <td>Gloss Rocket Red / Black</td>
    </tr>
    <tr>
        <th>Headset</th>
        <td>--</td>
    </tr>
    <tr>
        <th>Bottom Bracket</th>
        <td>--</td>
    </tr>
    <tr>
        <th>Rear Axle</th>
        <td>--</td>
    </tr>
    <tr>
        <th>Seat Tube</th>
        <td>?? mm</td>
    </tr>
    <tr>
        <th>Seat Collar</th>
        <td>?? mm</td>
    </tr>
</table>

<h2>Components</h2>

<table class="component-table">
    <tr>
        <th>Saddle</th>
        <td>____</td>
    </tr>
    <tr>
        <th>Pedals</th>
        <td>Crankbrothers Candy 7, black</td>
    </tr>
</table>

<h2>Suspension Setup</h2>
<table class="spec-table">
    <thead>
    <tr>
        <th>&nbsp;</th>
        <th>Fork</th>
        <th>Shock</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>Travel</th>
        <td>150 mm</td>
        <td>135 mm</td>
    </tr>
    <tr>
        <th>Tokens</th>
        <td>2</td>
        <td>??</td>
    </tr>
    <tr>
        <th>Air Pressure</th>
        <td>-- PSI</td>
        <td>-- PSI</td>
    </tr>
    <tr>
        <th>Sag</th>
        <td>-%</td>
        <td>-%</td>
    </tr>
    </tbody>
</table>

{#
<h2>29" Wheelset</h2>
<table class="component-table">
    <tr>
        <th>Front Wheel</th>
        <td>Hope Tech Enduro - Pro 4 Aluminum, 110x15mm Boost Thru Axle, ----</td>
    </tr>
    <tr>
        <th>Front Tire</th>
        <td>Maxxis DHF 29x2.3 EXO, tubeless</td>
    </tr>
    <tr>
        <th>Front Rotor</th>
        <td>Shimano -- Ice Tech -- 203mm</td>
    </tr>
    <tr>
        <th>Rear Wheel</th>
        <td>Hope Tech Enduro - Pro 4. Aluminum, 142x12mm Boost Thru-Axle, 32 holes, Shimano Hub Body, --</td>
    </tr>
    <tr>
        <th>Rear Tire</th>
        <td>Maxxis Aggressor 29x2.3 EXO, tubeless</td>
    </tr>
    <tr>
        <th>Rear Rotor</th>
        <td>Shimano -- Ice Tech -- 180mm</td>
    </tr>
    <tr>
        <th>Cassette</th>
        <td>Shimano XT 11sp 11-42</td>
    </tr>
</table>
#}

<h2>29" Wheelset</h2>
<table class="component-table">
    <thead>
    <tr>
        <th>&nbsp;</th>
        <th>Front</th>
        <th>Rear</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>Wheel</th>
        <td>Hope Tech Enduro 29er - Pro 4. 6061 T6 aluminium rim, 23mm internal / 28mm external. 32 hole Pro 4 hub: 110x15mm Boost Thru Axle, 6-bolt disc mount</td>
        <td>Hope Tech Enduro 29er - Pro 4. 6061 T6 aluminium rim, 23mm internal / 28mm external. 32 holes Pro 4 hub: 148x12mm Boost Thru-Axle, Shimano Hub Body, 44t ratchet w/ 4 pawl engagement, 6-bolt disc mount</td>
    </tr>
    <tr>
        <th>Tire</th>
        <td>Maxxis Minion DHF, 29x2.30, 120TPI, 3C MaxxTerra compound, EXO casing, TubelessReady</td>
        <td>Maxxis Aggressor, 29x2.30, 2x120TPI, Dual compound, DoubleDown casing, TubelessReady</td>
    </tr>
    <tr>
        <th>Rotor</th>
        <td>Shimano -- Ice Tech -- 203mm</td>
        <td>Shimano -- Ice Tech -- 180mm</td>
    </tr>
    <tr>
        <th>Cassette</th>
        <td>&nbsp;</td>
        <td>Shimano XT 11sp 11-42</td>
    </tr>
    </tbody>
</table>

<table class="spec-table">
    <thead>
    <tr>
        <th>&nbsp;</th>
        <th>Front</th>
        <th>Rear</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>Pressure</th>
        <td>22 PSI, Tubeless</td>
        <td>25 PSI, Tubeless</td>
    </tr>
    </tbody>
</table>

<table class="spec-table">
    <thead>
    <tr>
        <th>&nbsp;</th>
        <th>Front</th>
        <th>Rear</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>Pressure</th>
        <td>25 PSI</td>
        <td>28 PSI</td>
    </tr>
    </tbody>
</table>



