---
layout: simple-page
title: 2017 Specialized Enduro Comp
---

<div class="slider">
    <img class="slider-image" src="{{ site.url }}/images/bicycles/2017-specialized-enduro-comp-stock.jpg">
</div>

<p class="footnote">
    <strong>Base model:</strong> 2017 Specialized Enduro Comp 29/6Fattie.
    Part No. 93617-5202 at the
    <a href="https://www.specialized.com/us/en/enduro-comp-29-6fattie/p/118408?color=214943-118408" target="_blank">Specialized Bike Archive</a>.
</p>

<h2>Frameset</h2>
<table class="component-table">
    <tr>
        <th>Size</th>
        <td>Large</td>
    </tr>
    <tr>
        <th>Material</th>
        <td>Alloy M5</td>
    </tr>
    <tr>
        <th>Color</th>
        <td>Satin Black / Charcoal</td>
    </tr>
    <tr>
        <th>Headset</th>
        <td>--</td>
    </tr>
    <tr>
        <th>Bottom Bracket</th>
        <td>--</td>
    </tr>
    <tr>
        <th>Rear Axle</th>
        <td>--</td>
    </tr>
    <tr>
        <th>Seat Tube</th>
        <td>?? mm</td>
    </tr>
    <tr>
        <th>Seat Collar</th>
        <td>?? mm</td>
    </tr>
</table>

<h2>Suspension</h2>

<table class="component-table">
    <tr>
        <th>Fork</th>
        <td>RockShox Yari 29/27.5+, Solo Air, rebound & compression adjust, 15x110mm Maxle Ultimate thru-axle, 160mm travel</td>
    </tr>
    <tr>
        <th>Shock</th>
        <td>RockShox Monarch Plus, <s>Rx All-Mountain Tune, AUTOSAG,</s> rebound and 3-position compression adjust, 216x57mm.
            DebonAir Sleeve upgrade (216x63mm kit).</td>
    </tr>
</table>

<h2>Components</h2>

<table class="component-table">
    <tr>
        <th>Saddle</th>
        <td>____</td>
    </tr>
    <tr>
        <th>Pedals</th>
        <td>Crankbrothers Mallet E, black</td>
    </tr>
</table>

<h2>Suspension Setup</h2>
<!-- last update 15feb2018, not yet trail tested -->
<table class="spec-table">
    <thead>
    <tr>
        <th>&nbsp;</th>
        <th>Fork</th>
        <th>Shock</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>Travel</th>
        <td>160 mm</td> <!-- fork -->
        <td>160 mm</td> <!-- shock --> <!-- TODO: Add a Tooltip note, saying that some reviews say 165mm instead of 160mm -->
    </tr>
    <tr>
        <th>Air Spring</th>
        <td>40 PSI</td> <!-- fork -->
        <td>195 PSI</td> <!-- shock -->
    </tr>
    <tr>
        <th>Sag</th>
        <td>27%</td> <!-- fork -->
        <td>30%</td> <!-- shock -->
    </tr>
    <tr>
        <th>Tokens</th>
        <td>3 tokens</td> <!-- fork -->
        <td>2 bands</td> <!-- shock -->
    </tr>
    <tr>
        <th>Rebound (fast->slow)</th>
        <th>13 clicks</th> <!-- fork -->
        <th>7 clicks</th> <!-- shock -->
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="3">Last Tune: March 2nd, 2019</td>
    </tr>
    </tfoot>
</table>


<h2>29" Wheelset</h2>
<table class="component-table">
    <thead>
    <tr>
        <th>&nbsp;</th>
        <th>Front</th>
        <th>Rear</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <th>Wheel</th>
            <td>Hope Tech Enduro 29er - Pro 4. 6061 T6 aluminium rim, 23mm internal / 28mm external. 32 hole Pro 4 hub: 110x15mm Boost Thru Axle, 6-bolt disc mount</td>
            <td>Hope Tech Enduro 29er - Pro 4. 6061 T6 aluminium rim, 23mm internal / 28mm external. 32 holes Pro 4 hub: 148x12mm Boost Thru-Axle, Shimano Hub Body, 44t ratchet w/ 4 pawl engagement, 6-bolt disc mount</td>
        </tr>
        <tr>
            <th>Tire</th>
            <td>Maxxis Minion DHF, 29x2.30, 120TPI, 3C MaxxTerra compound, EXO casing, TubelessReady</td>
            <td>Maxxis Aggressor, 29x2.30, 2x120TPI, Dual compound, DoubleDown casing, TubelessReady</td>
        </tr>
        <tr>
            <th>Rotor</th>
            <td>Shimano -- Ice Tech -- 203mm</td>
            <td>Shimano -- Ice Tech -- 180mm</td>
        </tr>
        <tr>
            <th>Cassette</th>
            <td>&nbsp;</td>
            <td>Shimano XT 11sp 11-42</td>
        </tr>
    </tbody>
</table>

<table class="spec-table">
    <thead>
    <tr>
        <th>&nbsp;</th>
        <th>Front</th>
        <th>Rear</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>Pressure</th>
        <td>22 PSI, Tubeless</td>
        <td>25 PSI, Tubeless</td>
    </tr>
    </tbody>
</table>



