---
layout: simple-page
title: About
---

<p>
    <img src="/images/edmundo_fuentes_profile_picture.jpg#profile-picture" alt="Edmundo Fuentes' profile picture" />
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque accumsan magna finibus nunc maximus, tempor pharetra odio suscipit. Nulla varius lorem vitae felis posuere, maximus accumsan odio tincidunt. Donec lectus purus, scelerisque eu diam vel, pulvinar euismod sapien. Donec eleifend ligula risus, sed molestie est venenatis ac. Vestibulum erat urna, efficitur ac lorem sit amet, rhoncus placerat dolor. Sed non nunc mattis, faucibus quam eu, rhoncus est. Nunc lobortis nisi id dolor ornare ultricies. Ut et odio at ligula egestas elementum. Vivamus eleifend, lacus et iaculis placerat, tortor massa rhoncus augue, quis aliquet magna erat sed est.
</p>

<p>
    Phasellus suscipit felis quis quam dapibus gravida. Quisque porta varius ligula a luctus. Aenean imperdiet fringilla eros a interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in nisl a elit molestie vulputate. Duis eget justo non odio faucibus accumsan. Nam facilisis et felis eu aliquam. Ut sit amet libero fermentum, varius enim vel, laoreet eros. Quisque lobortis sem eu ante sodales, vel efficitur felis congue. Nullam sit amet odio erat. Phasellus tincidunt diam eu pulvinar scelerisque. Morbi rhoncus cursus augue et facilisis.
</p>

<div class="spacer"></div>

<ul class="social-links">
    <li><a class="hover-underline" href="mailto:me@edmundofuentes.com" target="_blank"><i class="far fa-envelope fa-fw"></i> me@edmundofuentes.com</a></li>
    <li><a class="hover-underline" href="https://www.github.com/edmundofuentes" target="_blank"><i class="fab fa-github fa-fw"></i> edmundofuentes</a></li>
    <li><a class="hover-underline" href="https://www.instagram.com/edmundofuentesr" target="_blank"><i class="fab fa-instagram fa-fw"></i> edmundofuentesr</a></li>
    <li><a class="hover-underline" href="https://www.twitter.com/edmundofuentes" target="_blank"><i class="fab fa-twitter fa-fw"></i> edmundofuentes</a></li>
    <li><a class="hover-underline" href="https://www.medium.com/@edmundofuentes" target="_blank"><i class="fab fa-medium fa-fw"></i> edmundofuentes</a></li>
    <li><a class="hover-underline" href="https://edmundofuentes.tumblr.com" target="_blank"><i class="fab fa-tumblr fa-fw"></i> edmundofuentes</a></li>
</ul>

