---
layout: simple-page
title: Bicycles
---

<h1>Mundo's</h1>
<div class="list-item clearfix">
    <div class="image-left"><img src="https://unsplash.it/80"></div>
    <div class="discipline">Trail Hardtail</div>
    <div class="title">2018 Santa Cruz Chameleon Custom</div>
    <div class="subtitle">Size L, 27.5+, Hardtail 140mm</div>
</div>

<div class="list-item clearfix">
    <div class="image-left"><img src="https://unsplash.it/id/1045/80"></div>
    <div class="discipline">Trail Full-Sus</div>
    <div class="title"><a href="/bicycles/2017-specialized-stumpjumper-expert-carbon">2017 Specialized Stumpjumper Expert Carbon</a></div>
    <div class="subtitle">Size L, 29/27.5+, Full Suspension 150mm/135mm</div>
</div>

<div class="list-item clearfix">
    <div class="image-left"><img src="https://unsplash.it/id/1043/80"></div>
    {# <div class="image-left"><span class="image-helper"></span><img src="{{ site.url }}/images/bicycles/thumbs/2017-specialized-enduro-comp.jpg"></div>  #}
    <div class="discipline">Enduro <span class="badge">For sale!</span></div>
    <div class="title"><a href="/bicycles/2017-specialized-enduro-comp">2017 Specialized Enduro Comp</a></div>
    <div class="subtitle">Size L, 29, Full Suspension 160mm/160mm</div>
</div>

<div class="list-item clearfix">
    <div class="image-left"><img src="https://unsplash.it/80"></div>
    <div class="discipline">Dirt Jump</div>
    <div class="title">2017 Santa Cruz Jackal</div>
    <div class="subtitle">Size L, 26, Hardtail 100mm</div>
</div>

<div class="list-item clearfix">
    <div class="image-left"><img src="https://unsplash.it/80"></div>
    <div class="discipline">Cyclocross</div>
    <div class="title">2017 Specialized CruX Sport E5</div>
    <div class="subtitle">Size 56, 700c, Rigid</div>
    {# https://www.specialized.com/us/en/crux-sport-e5/p/129217?color=239495-129217 #}
</div>

<div class="list-item clearfix">
    <div class="image-left"><img src="https://unsplash.it/80"></div>
    <div class="discipline">Road</div>
    <div class="title">2019 Specialized Allez Sprint Comp Disc</div>
    <div class="subtitle">Size 56, 700c, Rigid</div>
    {# https://www.specialized.com/us/en/allez-sprint-comp-disc/p/154235?color=239317-154235 #}
</div>

<div class="list-item clearfix">
    <div class="image-left"><img src="https://unsplash.it/80"></div>
    <div class="discipline">City</div>
    <div class="title">?? Specialized Source -- ?</div>
    <div class="subtitle">Size 56, 700c, Rigid</div>
</div>




<h1>Carol's</h1>
<div class="list-item clearfix">
    <div class="image-left"><img src="https://unsplash.it/80"></div>
    <div class="discipline">Road</div>
    <div class="title">2017 Specialized Dolce</div>
    <div class="subtitle">??</div>
</div>
<div class="list-item clearfix">
    <div class="image-left"><img src="https://unsplash.it/80"></div>
    <div class="discipline">Trail</div>
    <div class="title">2016 Specialized ?? Custom</div>
    <div class="subtitle">??</div>
</div>


<h1>Retired / Sold</h1>
<div class="list-item clearfix">
    <div class="image-left"><img src="https://unsplash.it/80"></div>
    <div class="discipline">E-Bike</div>
    <div class="title">2018 Specialized Turbo Kenevo Expert</div>
    <div class="subtitle">Size L, 27.5+, Full Suspension 180mm/180mm</div>
    {# https://www.specialized.com/us/en/turbo-kenevo-expert-6fattie/p/133806?color=240271-133806 #}
</div>
<div class="list-item clearfix">
    <div class="image-left"><img src="https://unsplash.it/80"></div>
    <div class="discipline">Trail Hardtail</div>
    <div class="title">2017 Specialized Rockhopper Pro</div>
    <div class="subtitle">Size L, 29, Hardtail 100m</div>
    {# https://www.specialized.com/us/en/rockhopper-pro-29/p/118170?color=208626-118170 #}
</div>
<div class="list-item clearfix">
    <div class="image-left"><img src="https://unsplash.it/80"></div>
    <div class="discipline">Cyclocross</div>
    <div class="title">2011 Specialized CruX Elite</div>
    <div class="subtitle">Size 54, 700c, Rigid</div>
    {# bike https://www.specialized.com/us/en/crux-elite/p/33439?color=35692-33439 #}
    {# frameset https://www.specialized.com/us/en/crux-frameset/p/23534?color=35688-23534 #}
</div>