---
layout: simple-page
title: Bicycles
---

<h1>Mundo's</h1>
<div class="list-item clearfix">
    <div class="image-left"><img src="https://unsplash.it/80"></div>
    <div class="discipline">Trail Hardtail</div>
    <div class="title">2018 Santa Cruz Chameleon Custom</div>
    <div class="subtitle">Size L, 29/27.5+, Hardtail 140mm</div>
</div>

<div class="list-item clearfix">
    <div class="image-left"><img src="https://unsplash.it/80"></div>
    <div class="discipline">Trail Full-Sus</div>
    <div class="title">2017 Specialized StumpJumper Carbon Comp</div>
    <div class="subtitle">Size L, 29/27.5+, Full Suspension 150mm/135mm</div>
</div>

<div class="list-item clearfix">
    <div class="image-left"><img src="https://unsplash.it/80"></div>
    <div class="discipline">Enduro</div>
    <div class="title">2017 Specialized Enduro Comp</div>
    <div class="subtitle">Size L, 29, Full Suspension 160mm/160mm</div>
</div>

<div class="list-item clearfix">
    <div class="image-left"><img src="https://unsplash.it/80"></div>
    <div class="discipline">Dirt Jump</div>
    <div class="title">2017 Santa Cruz Jackal</div>
    <div class="subtitle">Size L, 26, Hardtail 100mm</div>
</div>

<div class="list-item clearfix">
    <div class="image-left"><img src="https://unsplash.it/80"></div>
    <div class="discipline">Cyclocross / Road</div>
    <div class="title">2017 Specialized CruX Elite</div>
    <div class="subtitle">Size 56, 700c, Rigid</div>
</div>

<div class="list-item clearfix">
    <div class="image-left"><img src="https://unsplash.it/80"></div>
    <div class="discipline">City</div>
    <div class="title">?? Specialized Source -- ?</div>
    <div class="subtitle">Size 56, 700c, Rigid</div>
</div>

<div class="list-item clearfix">
    <div class="image-left"><img src="https://unsplash.it/80"></div>
    <div class="discipline">E-Bike</div>
    <div class="title">2018 Specialized Turbo Kenevo Expert</div>
    <div class="subtitle">Size L, 27.5+, Full Suspension 180mm/180mm</div>
</div>


<h1>Carol's</h1>
<div class="list-item clearfix">
    <div class="image-left"><img src="https://unsplash.it/80"></div>
    <div class="discipline">Road</div>
    <div class="title">2017 Specialized Dolce</div>
    <div class="subtitle">??</div>
</div>
<div class="list-item clearfix">
    <div class="image-left"><img src="https://unsplash.it/80"></div>
    <div class="discipline">Trail</div>
    <div class="title">2016 Specialized ?? Custom</div>
    <div class="subtitle">??</div>
</div>